<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h2>Author Profile</h2>
    {% if authors %}

    <p>{{ authors.name }}</p>
    <p>{{ authors.bio}}</p>
    <hr>
    {% for recipe in recipes %}
    <p><a href="{% url 'detail' recipe.title %}">{{ recipe.title }}</a></p>
    {% endfor %}
    {% endif %}
  
</body>
</html>

