<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <button><a href="{% url 'logout' %}">Logout</a></button>
    <h1>Index of Recipe Titles</h1> 
    {% for recipe in recipes %}
    <h3><a href="{% url 'detail' recipe.title %}">{{ recipe.title }}</a></h3>
    {% endfor %}
    <h3>Add an author</h3>
    <a href="{% url 'add_author' %}">here</a>
    <h3>Add a recipe</h3>
    <a href="{% url 'add_recipe' %}">here</a>
</body>
</html>
