{% extends "base.html" %}


{% block content %}
<div class="row">
  {% include "sidebarMain.html" %}

  <section class='col'>
    <h1>hello from notification.html</h1>
    <br>
    {% for n in notifications%}

    <div class="card" style="width: 100%;">
      <div class="card-body">
        <!-- <h5 class="card-title">{{n.twitteruser}}</h5>-->
        <h5>
          <a href="{% url 'profile' n.tweet.twitter_user %}">@{{n.tweet.twitter_user}}</a>
        </h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Something here</h6> -->
        <h6 class="card-subtitle mb-2 text-muted">{{ n.tweet.time_posted }}</h6>
        <a href="{% url 'single_tweet' n.tweet.id %}">View Tweet</a>
        <p class="card-text">{{n.tweet}}</p>
      </div>
    </div>


    <p></p>
    <p></p>

    {% endfor %}

  </section>
</div>
{% endblock %}